// @font-face {
//     font-family: 'iranSans';
//     src: url('../dist/font/iranSans/iranSans.ttf') format('truetype');
// }
@font-face {
    font-family: 'iranSansBold';
    src: url('../dist/font/iranSans/iranSans-bold.ttf') format('truetype');
}
// en
@font-face {
    font-family: 'Roboto';
    src: url('../dist/font/roboto/robotoLight.ttf') format('truetype');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$colorLight : #F0F2F5;
html{
    background: $colorLight;
}
body{
    min-height: 100vh;
    font-family: 'iranSans', Roboto;
    font-size: 12px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}